<div>
  <p>
    If you would like to sponser a kiddush please set the value to $360 and leave a comment with the week you would like to sponser, and any other relavent details.
  </p>
</div>
<form action="https://secure.payrixgateway.com/interface/epayform/">
  <input type="hidden" name="UMkey" value="lg03h8V75LkEfqHfln3Fv6vd5n22JM0O" />
  <input type="hidden" name="UMcommand" value="sale" />
  <input type="hidden" name="UMinvoice" value="[invoice]" />
  <input type="hidden" name="UMcustreceipt" value="yes" />
  <label>Donation Amount:</label>
  <input type="text" name="UMamount" placeholder="Amount Here 00.00" />
  <br>
  <label>Email Address:</label>
  <input type="text" name="UMemail" placeholder="Your email address here" />
  <br>
  <label >Comments:</label>

  <textarea name="UMdescription" placeholder="Enter your comments here...">

  </textarea>

  <p><input type="submit" value="Continue to Payment Form" /></p>

</form>
