/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .center_content {
 display: table;
 min-width: 800px;
 margin-left: auto;
 margin-right: auto;
 }
 hr.flaired_edge {
     height: 30px;
     border-style: solid;
     border-color: lightgrey;
     border-width: 1px 0 0 0;
     border-radius: 20px;
 }
 hr.flaired_edge:before { /* Not really supposed to work, but does */
     display: block;
     content: "";
     height: 30px;
     margin-top: -31px;
     border-style: solid;
     border-color: lightgrey;
     border-width: 0 0 1px 0;
     border-radius: 20px;
 }
.button{
width:500px;
height:500px;
background: blue;
color:white;
border-radius: 5px;

}
.button:hover{
 background-image: url("//upload.wikimedia.org/wikipedia/en/thumb/2/2d/MagLiteFlashlight.jpg/225px-MagLiteFlashlight.jpg");

}
